/*

Tooplate 2113 Earth

https://www.tooplate.com/view/2113-earth

*/

@keyframes seq-preloader {
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

.seq-preloader {
  background: white;
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 99999999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.seq-preloader.seq-preloaded {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
  overflow: visible;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seq-preload-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  fill: #7a7a7a;
  opacity: 0;
  animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
  animation-delay: .15s;
}

.seq-preload-circle-3 {
  animation-delay: .3s;
}

.seq-preload-indicator-fallback {
  width: 42px;
  overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
  width: 8px;
  height:8px;
  background-color: #f4f4f4;
  border-radius: 100%;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
  margin-left: 3px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
  width: 16px;
  height: 16px;
}


/* MAIN CSS */

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@-webkit-keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}
@keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
	overflow: hidden;
}

body {
  overflow: hidden;
  font-size: 100%;
}

nav {
	top: 3%;
  text-align: left;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 100;
  height: 100%;
  left: 0;
  width: 12%;
  font-weight: 300;
  font-size: 1rem;
}
nav em {
	font-style: normal;
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	margin-top: 5px;
	color: #fff;
}

nav ul li a {
	text-align: left;
}

nav ul {
	position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-align: left;
	list-style-type: none;
	height: 70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
	-ms-flex-pack: distribute;
  justify-content: space-around;
}
nav ul li {
	text-align: center;
	margin: 1px 0px;
}
nav a, nav a:visited, nav a:active {
  color: #fff;
}
nav a {
	text-decoration: none!important;
	display: inline-block;
	width: 140px;
	padding: 9px 0px;
	position: relative;
	z-index: 0;
	transition: all .5s;
}
nav a.active {
  background-color: rgba(0,0,0,0.8);
}
nav a::before {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
}
.logo {
	margin-top: 0px;
  top: 0;
  left: 0;
  z-index: 999999;
  position: fixed;
 	display: inline-block;
  text-align: center;
	background-color: #fff;
	height: 12%;
	width: 12%;
}
.salir {
	margin-bottom: -60px;
  bottom: 0;
  left: 0;
  z-index: 999999;
  position: fixed;
 	display: inline-block;
  text-align: center;
	height: 16%;
	width: 12%;
  color: #fff;
}

.logo h2 {
  display: none;
}
.slides {
  width: 5000vw;
  height: 1000vh;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}
.slides .slide {
  height: 100vh;
  width: 100vw;
  float: left;
  text-align: center;
  background-size: cover;
}
.slides .slide .content {
  overflow-y: scroll;
  position: relative;
  width: 80%;
  height: 80%;
  left: 17%;
  top: 10%;
}
.content::-webkit-scrollbar {
  display: none!important;
  opacity: 0!important;
  visibility: hidden!important;
}
/* Add a thumb */
.content::-webkit-scrollbar-thumb {
  display: none!important;
  opacity: 0!important;
  visibility: hidden!important;
}
.slides .slide {
  background-position: center center;
  background-size: cover;
  background-position: fixed;
}

/* Slide 1 Stlye */
#slider-wrapper{
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: relative;
}
#image-slider {
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
  margin: auto;
  display: block;
}
#image-slider ul {
  margin-bottom: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}
#image-slider ul li {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height:100%; 
}
#image-slider ul li {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
#image-slider ul li:nth-child(1) {
  background-image: url(https://img.olhardigital.com.br/wp-content/uploads/2021/04/shutterstock_1578853621-1000x450.jpg);
}
#image-slider ul li:nth-child(2) {
  background-image: url(https://taskntime.org/wp-content/uploads/2020/08/calendario6-1080x675.jpeg);
}
#image-slider ul li:nth-child(3) {
  background-image: url(https://blog.hubspot.es/hubfs/reporte%20de%20ventas.jpg);
}
#image-slider ul li:nth-child(4) {
  background-image: url(https://i0.wp.com/get.witei.com/wp-content/uploads/2021/10/Background-39-2.png?fit=800%2C533&ssl=1);
}
#image-slider ul li:nth-child(5) {
  background-image: url(https://www2.baccredomatic.com/sites/default/files/sv-movil-tutorial_empresas_2.jpg);
}
#image-slider ul li.active-img{
  left: 0;
}
#thumbnail {
  position: absolute;
  z-index: 99999;
  bottom: 20px;
  right: 30px;
}
#thumbnail ul {
  padding: 0px;
  margin: 0px;
}
#thumbnail ul li {
  display: inline-block;
  max-width: 200px;
  max-height: 200px;
  margin-left: 30px;
  cursor: pointer;
  border: 20px solid transparent;
  transition: all 0.5s;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.8);

}
#thumbnail ul li.active {
  border: 5px solid #faf5b2;
}
#thumbnail ul li img {
  max-width: 100%;
  overflow: hidden;
}
.slide-caption {
  text-align: right;
  right: 30px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
.slide-caption h6 {
  margin-top: 0px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
.slide-caption h2 {
  margin-top: 0px;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}

/* Slide 2 Style */
.second-content {
	top: 20%!important;
	transform: translateY(-20%);
}
